<script>
		var availableTags = [
<?while($pb=@mysql_fetch_array($company,MYSQL_ASSOC)){?>
"<?=$pb['name']?>",
<?}?>
""
		];

	</script>
<?switch($_GET['action']){?>
<?case "add":?>

<TABLE width="780" border=0 align="center" cellPadding=0 cellSpacing=0  class="text">
  <tr class="header1">
    <td width="22" align="right"><img src="images/menu/outbox.gif" width="19" height="17"></td>
    <td width="139" height="20" > 帳號管理[<font color=#0000FF>添加帳號</font>] </td>
    <td width=423 align=right><a href=<?= $_SERVER['HTTP_REFERER']?>>返回帳號查看列表</a></td>
  </tr>
</table>
</td>
</TR>
</TABLE>
<br>
<form name="frm_c5acd3847d" id="frm_c5acd3847d" method="POST" enctype="multipart/form-data" action="main.php?page=admin&action=add">
<table id="pg_975c4963ca" border="0" cellpadding="2" cellspacing="1" width="780" bgcolor="#757575"  style="display:;border: solid 1px #777777;">
  <tr>
    <td width="30%" align="left" bgcolor="#C4E1FF" valign="top"><span style="">帳號</span> <font color='red'>*
      </color></td>
    <td width="70%" align="left" bgcolor="#FFFFFF"><input name="account" type="textfield" id="account"></td>
  </tr>
  <tr>
    <td width="30%" align="left" bgcolor="#C4E1FF" valign="top"><span style="">密碼</span> <font color='red'>*
      </color></td>
    <td width="70%" align="left" bgcolor="#FFFFFF"><input name="password" id="password" type="password"></td>
  </tr>
  <tr>
    <td width="30%" align="left" bgcolor="#C4E1FF" valign="top"><span style="">員工名稱</span><font color='red'>*
      </color></td>
    <td width="70%" align="left" bgcolor="#FFFFFF"><input name="staff" type="textfield"></td>
  </tr>
  <tr>
    <td width="30%" align="left" bgcolor="#C4E1FF" valign="top"><span style="">權限設定</span> <font color='red'>*
      </color>
      <br>
      (天數留空為不限制) </td>
    <td width="70%" align="left" bgcolor="#FFFFFF"><table style="font-size:8pt">
        <tr>
          <td>收入:</td>
          <td><input type="checkbox" name="author[]" value="income_add">
            添加</td>
          <td><input type="checkbox" name="author[]" value="income_edit">
            編輯
            <input type="textfield" name="income_edit" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="income_delete">
            刪除
            <input type="textfield" name="income_delete" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="income_detail">
            詳情</td>
          <td><input type="checkbox" name="author[]" value="income_sign">
            簽單
            <input type="textfield" name="income_sign" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="income_view">
            查看</td>
          <td><input type="checkbox" name="author[]" value="income_viewSelfOnly">
            僅自己</td>
        </tr>
        <tr>
          <td>開支:</td>
          <td><input type="checkbox" name="author[]" value="expe_add">
            添加</td>
          <td><input type="checkbox" name="author[]" value="expe_edit">
            編輯
            <input type="textfield" name="expe_edit" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="expe_delete">
            刪除
            <input type="textfield" name="expe_delete" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="expe_detail">
            詳情</td>
          <td><input type="checkbox" name="author[]" value="expe_view">
            查看</td>
        </tr>
        <tr>
          <td>報價:</td>
          <td><input type="checkbox" name="author[]" value="quotation_add">
            添加</td>
          <td><input type="checkbox" name="author[]" value="quotation_edit">
            編輯
            <input type="textfield" name="quotation_edit" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="quotation_delete">
            刪除
            <input type="textfield" name="quotation_delete" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="quotation_item">
            查看
		</td>
        <td><input type="checkbox" name="author[]" value="quotation_viewSelfOnly">
            僅自己</td>

        </tr>
        <tr>
          <td>收據單:</td>
          <td><input type="checkbox" name="author[]" value="receipt_add">
            添加</td>
          <td><input type="checkbox" name="author[]" value="receipt_edit">
            編輯
            <input type="textfield" name="receipt_edit" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="receipt_delete">
            刪除
            <input type="textfield" name="receipt_delete" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="receipt_item">
            查看
		</td>
        <td><input type="checkbox" name="author[]" value="receipt_viewSelfOnly">
            僅自己</td>

        </tr>
        <tr>
          <td>收據:</td>
          <td><input type="checkbox" name="author[]" value="rec_add">
            添加</td>
          <td><input type="checkbox" name="author[]" value="rec_edit">
            編輯
            <input type="textfield" name="rec_edit" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="rec_delete">
            刪除
            <input type="textfield" name="rec_delete" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="rec_view">
            查看</td>
        </tr>
        <tr>
          <td>開支收據:</td>
          <td><input type="checkbox" name="author[]" value="e_rec_add">
            添加</td>
          <td><input type="checkbox" name="author[]" value="e_rec_edit">
            編輯
            <input type="textfield" name="e_rec_edit" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="e_rec_delete">
            刪除
            <input type="textfield" name="e_rec_delete" size="2" maxlength="3">
            天</td>
          <td><input type="checkbox" name="author[]" value="e_rec_view">
            查看</td>
        </tr>
        <tr>
          <td>應收:</td>
          <td><input type="checkbox" name="author[]" value="receivable_summary">
            月結表</td>
          <td><input type="checkbox" name="author[]" value="receivable_statement">
            出單</td>
          <td><input type="checkbox" name="author[]" value="receivable_view">
            查看</td>
        </tr>
        <tr>
          <td>應付:</td>
          <td><input type="checkbox" name="author[]" value="payable_summary">
            月結表</td>
          <td><input type="checkbox" name="author[]" value="payable_view">
            查看</td>
        </tr>
        <tr>
          <td>客戶:</td>
          <td><input type="checkbox" name="author[]" value="company_add">
            添加</td>
          <td><input type="checkbox" name="author[]" value="company_edit">
            編輯</td>
          <td><input type="checkbox" name="author[]" value="company_delete">
            刪除</td>
          <td><input type="checkbox" name="author[]" value="company_detail">
            詳情</td>
          <td><input type="checkbox" name="author[]" value="company_view">
            查看</td>
        </tr>
        <tr>
          <td>供應:</td>
          <td><input type="checkbox" name="author[]" value="supplier_add">
            添加</td>
          <td><input type="checkbox" name="author[]" value="supplier_edit">
            編輯</td>
          <td><input type="checkbox" name="author[]" value="supplier_delete">
            刪除</td>
          <td><input type="checkbox" name="author[]" value="supplier_detail">
            詳情</td>
          <td><input type="checkbox" name="author[]" value="supplier_view">
            查看</td>
        </tr>
        <tr>
          <td>管理</td>
          <td><input type="checkbox" name="author[]" value="admin_add">
            添加</td>
          <td><input type="checkbox" name="author[]" value="admin_edit">
            編輯</td>
          <td><input type="checkbox" name="author[]" value="admin_delete">
            刪除</td>
          <td><input type="checkbox" name="author[]" value="admin_view">
            查看</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <!-- Buttons -->
    <td colspan="2" align="center" class="phpForms_main" bgcolor="#FFFFFF"><input type="submit" value="Submit" name="Submit" style="width:30%; background-color : #a2a2a2" class="phpForms_btn"></td>
  </tr>
</table>
<?break;?>
<?case "edit":?>
<TABLE width="780" border=0 align="center" cellPadding=0 cellSpacing=0  class="text">
  <tr class="header1">
    <td width="22" align="right"><img src="images/menu/outbox.gif" width="19" height="17"></td>
    <td width="139" height="20" > 帳號管理[<font color=#0000FF>編輯帳號</font>] </td>
    <td width=423 align=right><a href=<?= $_SERVER['HTTP_REFERER']?>>返回帳號查看列表</a></td>
  </tr>
</table>
</td>
</TR>
</TABLE>
<br>
<form name="frm_c5acd3847d" id="frm_c5acd3847d" method="POST" enctype="multipart/form-data" action="main.php?page=admin&action=edit&id=<?=$_GET['id']?>">
  <table id="pg_975c4963ca" border="0" cellpadding="2" cellspacing="1" width="900" bgcolor="#757575"  style="display:;border: solid 1px #777777;">
    <tr>
      <td width="30%" align="left" bgcolor="#C4E1FF" valign="top"><span style="">帳號</span></td>
      <td width="70%" align="left" bgcolor="#FFFFFF"><input name="account" type="textfield" id="account" value="<?=$row[0]?>" disabled></td>
    </tr>
    <tr>
      <td width="30%" align="left" bgcolor="#C4E1FF" valign="top"><span style="">密碼</span>(無需更改請留空) </td>
      <td width="70%" align="left" bgcolor="#FFFFFF"><input name="password" id="password" type="password"></td>
    </tr>
    <tr>
      <td width="30%" align="left" bgcolor="#C4E1FF" valign="top"><span style="">員工名稱</span><font color='red'>*</font></td>
      <td width="70%" align="left" bgcolor="#FFFFFF"><input name="staff" type="textfield" value="<?=$row[1]?>"></td>
    </tr>
    <tr>
      <td width="30%" align="left" bgcolor="#C4E1FF" valign="top"><span style="">權限設定</span> <font color='red'>*</font><br>
        (天數留空為不限制) </td>
      <td width="70%" align="left" bgcolor="#FFFFFF"><table style="font-size:8pt">
          <tr>
            <td>收入:</td>
            <td><input type="checkbox" name="author[]" value="income_add" <?=($author['income_add']?'checked':'')?> >
              添加</td>
            <td><input type="checkbox" name="author[]" value="income_edit" <?=($author['income_edit']?'checked':'')?>>
              編輯
              <input type="textfield" name="income_edit" size="2" maxlength="3" value="<?=$period_array['income_edit']?>">
              天</td>
            <td><input type="checkbox" name="author[]" value="income_delete" <?=($author['income_delete']?'checked':'')?>>
              刪除
              <input type="textfield" name="income_delete" size="2" maxlength="3" value="<?=$period_array['income_delete']?>">
              天</td>
            <td><input type="checkbox" name="author[]" value="income_detail" <?=($author['income_detail']?'checked':'')?>>
              詳情</td>
            <td><input type="checkbox" name="author[]" value="income_sign" <?=($author['income_sign']?'checked':'')?>>
              簽單
              <input type="textfield" name="income_sign" size="2" maxlength="3" value="<?=$period_array['income_sign']?>">
              天</td>
            <td><input type="checkbox" name="author[]" value="income_view" <?=($author['income_view']?'checked':'')?>>
              查看</td>
                        <td><input type="checkbox" name="author[]" value="income_viewSelfOnly" <?=($author['income_viewSelfOnly']?'checked':'')?>>
            僅自己</td>
          </tr>
          <tr>
            <td>開支:</td>
            <td><input type="checkbox" name="author[]" value="expe_add" <?=($author['expe_add']?'checked':'')?>>
              添加</td>
            <td><input type="checkbox" name="author[]" value="expe_edit" <?=($author['expe_edit']?'checked':'')?>>
              編輯
              <input type="textfield" name="expe_edit" size="2" maxlength="3" value="<?=$period_array['expe_edit']?>">
              天</td>
            <td><input type="checkbox" name="author[]" value="expe_delete" <?=($author['expe_delete']?'checked':'')?>>
              刪除
              <input type="textfield" name="expe_delete" size="2" maxlength="3" value="<?=$period_array['expe_delete']?>">
              天</td>
            <td><input type="checkbox" name="author[]" value="expe_detail" <?=($author['expe_detail']?'checked':'')?>>
              詳情</td>
            <td><input type="checkbox" name="author[]" value="expe_view" <?=($author['expe_view']?'checked':'')?>>
              查看</td>
          </tr>
        <tr>
          <td>報價:</td>
          <td><input type="checkbox" name="author[]" value="quotation_add" <?=($author['quotation_add']?'checked':'')?>>
            添加</td>
          <td><input type="checkbox" name="author[]" value="quotation_edit" <?=($author['quotation_edit']?'checked':'')?>>
            編輯
            <input type="textfield" name="quotation_edit" size="2" maxlength="3" value="<?=$period_array['quotation_edit']?>">
            天</td>
          <td><input type="checkbox" name="author[]" value="quotation_delete" <?=($author['quotation_delete']?'checked':'')?>>
            刪除
            <input type="textfield" name="quotation_delete" size="2" maxlength="3" value="<?=$period_array['quotation_delete']?>">
            天</td>
          <td><input type="checkbox" name="author[]" value="quotation_item" <?=($author['quotation_item']?'checked':'')?>>
            查看
            </td>
            <td><input type="checkbox" name="author[]" value="quotation_viewSelfOnly" <?=($author['quotation_viewSelfOnly']?'checked':'')?>>
            僅自己</td>

        </tr>
        <tr>
          <td>收據單:</td>
          <td><input type="checkbox" name="author[]" value="receipt_add" <?=($author['receipt_add']?'checked':'')?>>
            添加</td>
          <td><input type="checkbox" name="author[]" value="receipt_edit" <?=($author['receipt_edit']?'checked':'')?>>
            編輯
            <input type="textfield" name="receipt_edit" size="2" maxlength="3" value="<?=$period_array['receipt_edit']?>">
            天</td>
          <td><input type="checkbox" name="author[]" value="receipt_delete" <?=($author['receipt_delete']?'checked':'')?>>
            刪除
            <input type="textfield" name="receipt_delete" size="2" maxlength="3" value="<?=$period_array['receipt_delete']?>">
            天</td>
          <td><input type="checkbox" name="author[]" value="receipt_item" <?=($author['receipt_item']?'checked':'')?>>
            查看
            </td>
            <td><input type="checkbox" name="author[]" value="receipt_viewSelfOnly" <?=($author['receipt_viewSelfOnly']?'checked':'')?>>
            僅自己</td>

        </tr>
          <tr>
            <td>收據:</td>
            <td><input type="checkbox" name="author[]" value="rec_add" <?=($author['rec_add']?'checked':'')?>>
              添加</td>
            <td><input type="checkbox" name="author[]" value="rec_edit" <?=($author['rec_edit']?'checked':'')?>>
              編輯
              <input type="textfield" name="rec_edit" size="2" maxlength="3" value="<?=$period_array['rec_edit']?>">
              天</td>
            <td><input type="checkbox" name="author[]" value="rec_delete" <?=($author['rec_delete']?'checked':'')?>>
              刪除
              <input type="textfield" name="rec_delete" size="2" maxlength="3" value="<?=$period_array['rec_delete']?>">
              天</td>
            <td><input type="checkbox" name="author[]" value="rec_view" <?=($author['rec_view']?'checked':'')?>>
              查看</td>
          </tr>
          <tr>
            <td>開支收據:</td>
            <td><input type="checkbox" name="author[]" value="e_rec_add" <?=($author['e_rec_add']?'checked':'')?>>
              添加</td>
            <td><input type="checkbox" name="author[]" value="e_rec_edit" <?=($author['e_rec_edit']?'checked':'')?>>
              編輯
              <input type="textfield" name="e_rec_edit" size="2" maxlength="3" value="<?=$period_array['e_rec_edit']?>">
              天</td>
            <td><input type="checkbox" name="author[]" value="e_rec_delete" <?=($author['e_rec_delete']?'checked':'')?>>
              刪除
              <input type="textfield" name="e_rec_delete" size="2" maxlength="3" value="<?=$period_array['e_rec_delete']?>">
              天</td>
            <td><input type="checkbox" name="author[]" value="e_rec_view" <?=($author['e_rec_view']?'checked':'')?>>
              查看</td>
          </tr>
          <tr>
            <td>應收:</td>
            <td><input type="checkbox" name="author[]" value="receivable_summary" <?=($author['receivable_summary']?'checked':'')?>>
              月結表</td>
            <td><input type="checkbox" name="author[]" value="receivable_anniversary" <?=($author['receivable_anniversary']?'checked':'')?>>
              年表</td>
            <td><input type="checkbox" name="author[]" value="receivable_statement" <?=($author['receivable_statement']?'checked':'')?>>
              出單</td>
            <td><input type="checkbox" name="author[]" value="receivable_view" <?=($author['receivable_view']?'checked':'')?>>
              查看</td>
          </tr>
          <tr>
            <td>應付:</td>
            <td><input type="checkbox" name="author[]" value="payable_summary" <?=($author['payable_summary']?'checked':'')?>>
              月結表</td>
            <td><input type="checkbox" name="author[]" value="payable_anniversary" <?=($author['payable_anniversary']?'checked':'')?>>
              年表</td>
            <td><input type="checkbox" name="author[]" value="payable_view" <?=($author['payable_view']?'checked':'')?>>
              查看</td>
          </tr>
          <tr>
            <td>客戶:</td>
            <td><input type="checkbox" name="author[]" value="company_add" <?=($author['company_add']?'checked':'')?> >
              添加</td>
            <td><input type="checkbox" name="author[]" value="company_edit" <?=($author['company_edit']?'checked':'')?>>
              編輯</td>
            <td><input type="checkbox" name="author[]" value="company_delete" <?=($author['company_delete']?'checked':'')?>>
              刪除</td>
            <td><input type="checkbox" name="author[]" value="company_detail" <?=($author['company_detail']?'checked':'')?>>
              詳情</td>
            <td><input type="checkbox" name="author[]" value="company_view" <?=($author['company_view']?'checked':'')?>>
              查看</td>
          </tr>
          <tr>
            <td>供應:</td>
            <td><input type="checkbox" name="author[]" value="supplier_add" <?=($author['supplier_add']?'checked':'')?>>
              添加</td>
            <td><input type="checkbox" name="author[]" value="supplier_edit" <?=($author['supplier_edit']?'checked':'')?>>
              編輯</td>
            <td><input type="checkbox" name="author[]" value="supplier_delete" <?=($author['supplier_delete']?'checked':'')?>>
              刪除</td>
            <td><input type="checkbox" name="author[]" value="supplier_detail" <?=($author['supplier_detail']?'checked':'')?>>
              詳情</td>
            <td><input type="checkbox" name="author[]" value="supplier_view" <?=($author['supplier_view']?'checked':'')?>>
              查看</td>
          </tr>
          <tr>
            <td>管理</td>
            <td><input type="checkbox" name="author[]" value="admin_add" <?=($author['admin_add']?'checked':'')?>>
              添加</td>
            <td><input type="checkbox" name="author[]" value="admin_edit" <?=($author['admin_edit']?'checked':'')?>>
              編輯</td>
            <td><input type="checkbox" name="author[]" value="admin_delete" <?=($author['admin_delete']?'checked':'')?>>
              刪除</td>
            <td><input type="checkbox" name="author[]" value="admin_view" <?=($author['admin_view']?'checked':'')?>>
              查看</td>
          </tr>
        </table></td>
    </tr>
    <tr> 
      <!-- Buttons -->
      <td colspan="2" align="center" class="phpForms_main" bgcolor="#FFFFFF"><input type="submit" value="Submit" name="Submit" style="width:30%; background-color : #a2a2a2" class="phpForms_btn"></td>
    </tr>
  </table>
</form>
<?break;?>
<?default:?>
<center>
  <form name="add" action="./main.php?page=admin" method="get" >
    <table>
      <tr align="center">
        <td>帳號:</td>
        <td><input type="textfield" name="account"></td>
        <td>員工名稱:</td>
        <td><input type="textfield" name="staff"></td>
      </tr>
      <tr align="center">
        <td colspan=4><input type="submit" name="Search" value="查詢"></td>
      </tr>
    </table>
    <input type="hidden" value="admin" name="page">
  </form>
</center>
<br>
<table border="0" bgColor="#808080" cellPadding="4" cellSpacing="1" width="960" class="text">
  <tr class="header">
    <td width="70%" > | <a href="./main.php?page=admin&action=add"><font color="#FFFFFF">新增帳號</font></a></td>
    <td width="30%"> 共
      <?=intval($total/30)+1?>
      頁
      <?=$total?>
      條帳號 現在是第
      <?=$num?>
      頁 </td>
  </tr>
</table>
<table border="0" bgColor="#808080" cellPadding="4" cellSpacing="1" width="1000"  id="myTable" class="tablesorter">
  <!-- Form list header -->
  <thead>
    <tr>
      <th  width="10%" align="center"> <span >帳號</span> </th>
      <th  width="5%" align="center"> <span >員工名稱</span> </th>
      <th  width="25%" align="center"> <span >最後登錄</span> </th>
      <th  width="25%" align="center"> <span >操作</span> </th>
    </tr>
  </thead>
  <tbody>
    <?while($row=mysql_fetch_array($db,MYSQL_NUM)){?>
    <tr>
      <td><?=$row[2]?></td>
      <td><?=$row[1]?></td>
      <td><?=$row[5]?></td>
      <td><a href="./main.php?page=admin&action=edit&id=<?=$row[0]?>"><img src="./images/b_edit.gif"></a>|<a href="./main.php?page=admin&action=delete&id=<?=$row[0]?>"><img src="./images/b_del.gif"></a></td>
    </tr>
    <?}?>
  </tbody>
  
  <!-- /Form list -->
</table>
<table width="780">
  <tr align="right">
    <td><?=($num<=1?"":"<a href=\"./main.php?page=admin\">上一頁</a>")?>
      <?=($num+1>(intval($total/30)+1)?"":"<a href=\"./main.php?page=admin\">下一頁</a>")?></td>
  </tr>
</table>
<?break;
}?>
