<?switch ($_GET['action']){?>
<?case "add":?>


<table width="780" border="0" cellspacing="0" cellpadding="0" class="text">
  <tr valign="top"> 
    <td height="10" colspan="2"></td>
  </tr>
  <tr> 
    <td width="10"></td>
    <td width="780" align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        
      </table>
      <br> <table width="780" border="0" cellspacing="0" cellpadding="0" class="text">
        <tr> 
          <td width="780" align="center" valign="top"><TABLE width="780" border=1 align="center" cellPadding=0 cellSpacing=0 
                        borderColorLight=#000000 borderColorDark=#ffffff class="text">
              <TBODY>
                <TR > 
                  <TD height=20 colSpan=9 bgcolor="#FFCC66"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="text">
                      <tr class="header1"> 
                        <td width="22"  align="right"><img src="images/menu/outbox.gif" width="19" height="17"></td>
                        <td width="2">&nbsp;</td>
                        <td width="139" height="20" > 客戶管理[<font color=#0000FF>添加客戶</font>]
                        </td>
<td width=423 align=right><a href=<?=$_SERVER['HTTP_REFERER'];?>>返回客戶查看列表</a></td> 
                      </tr>
                    </table></TD>
                </TR>
             </TBODY>
            </TABLE>
            <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center"><br>
                  <form name="add" action="./main.php?page=company&action=add" method="post" enctype="multipart/form-data" name="form1" onsubmit="return check()";>
                    <table width="100%" border="0" cellpadding="0" cellspacing="1" class="text" bgcolor="#757575">
                      <tr> 
                      <td bgcolor="#C4E1FF">名稱: </td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input name="name" type="text" id="title" ></td>
                      </tr>
                      <td bgcolor="#C4E1FF">地址: </td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<textarea name="address" cols="50" rows="4"></textarea></td>
                      </tr>
					  <tr> 
                        <td width="13%" bgcolor="#C4E1FF">電郵:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="email"></td>
                      </tr>
					  <tr> 
                        <td width="13%" bgcolor="#C4E1FF">網址:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="website"></td>
                      </tr>
                      <tr> 
                        <td width="13%" bgcolor="#C4E1FF">電話:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="tel"></td>
                      </tr>
                      <tr> 
                        <td width="13%" bgcolor="#C4E1FF">傳真:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="fax"></td>
                      </tr>
					  <tr> 
                        <td width="13%" bgcolor="#C4E1FF">聯絡人:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="attn"></td>
                      </tr>
					  <tr> 
                        <td width="13%" bgcolor="#C4E1FF">縮寫:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="initial"></td>
                      </tr>
					  <tr> 
                        <td width="13%" bgcolor="#C4E1FF">關係:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;顧客&nbsp;<INPUT TYPE="checkbox" NAME="customer" value="1" checked>&nbsp;&nbsp;供應商&nbsp;<INPUT TYPE="checkbox" NAME="supplier" value="1"></td>
                      </tr>
					  <tr> 
                        <td bgcolor="#C4E1FF">付款方式:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<select name="payment">
                            <option selected>選擇付款方式</option>
							<option value="月結">月結</option>
							<option value="現金">現金</option>
                          </select>
                        </td>
                      </tr>
                      <tr bgcolor="#FFFFFF" height="30"> 
                        <td colspan=3 >&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="Submit" value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name="Submit2" value="Reset"></td>
                      </tr>
                    </table>
                  </form>
                   
</td>
              </tr>
            </table>
            <br>
          </td>
        </tr>
      </table>
      </td>
  </tr>
</table>
<?break;?>

<?case "edit":?>


<table width="780" border="0" cellspacing="0" cellpadding="0" class="text">
  <tr valign="top"> 
    <td height="10" colspan="2"></td>
  </tr>
  <tr> 
    <td width="10"></td>
    <td width="780" align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        
      </table>
      <br> <table width="780" border="0" cellspacing="0" cellpadding="0" class="text">
        <tr> 
          <td width="780" align="center" valign="top"><TABLE width="780" border=1 align="center" cellPadding=0 cellSpacing=0 
                        borderColorLight=#000000 borderColorDark=#ffffff class="text">
              <TBODY>
                <TR > 
                  <TD height=20 colSpan=9 bgcolor="#FFCC66"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="text">
                      <tr class="header1"> 
                        <td width="22"  align="right"><img src="images/menu/outbox.gif" width="19" height="17"></td>
                        <td width="2">&nbsp;</td>
                        <td width="139" height="20" > 客戶管理[<font color=#0000FF>添加客戶</font>]
                        </td>
<td width=423 align=right><a href=<?=$_SERVER['HTTP_REFERER'];?>>返回客戶查看列表</a></td> 
                      </tr>
                    </table></TD>
                </TR>
             </TBODY>
            </TABLE>
            <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center"><br>
                  <form name="add" action="./main.php?page=company&action=edit&id=<?=$_GET['id']?>" method="post" enctype="multipart/form-data" name="form1" onsubmit="return check()";>
                    <table width="100%" border="0" cellpadding="0" cellspacing="1" class="text" bgcolor="#757575">
                      <tr> 
                      <td bgcolor="#C4E1FF">名稱: </td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input name="name" type="text" id="title" value="<?=$row['name']?>"></td>
                      </tr>
                      <td bgcolor="#C4E1FF">地址: </td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<textarea name="address" cols="50" rows="4"><?=$row['address']?></textarea></td>
                      </tr>
					  <tr> 
                        <td width="13%" bgcolor="#C4E1FF">電郵:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="email" value="<?=$row['email']?>"></td>
                      </tr>
					  <tr> 
                        <td width="13%" bgcolor="#C4E1FF">網址:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="website" value="<?=$row['website']?>"></td>
                      </tr>
                      <tr> 
                        <td width="13%" bgcolor="#C4E1FF">電話:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="tel" value="<?=$row['tel']?>"></td>
                      </tr>
                      <tr> 
                        <td width="13%" bgcolor="#C4E1FF">傳真:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="fax" value="<?=$row['fax']?>"></td>
                      </tr>
					  <tr> 
                        <td width="13%" bgcolor="#C4E1FF">聯絡人:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="attn" value="<?=$row['attn']?>"></td>
                      </tr>
					  <tr> 
                        <td width="13%" bgcolor="#C4E1FF">縮寫:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<input type="text" name="initial" value="<?=$row['initial']?>"></td>
                      </tr>
					  <tr> 
                        <td width="13%" bgcolor="#C4E1FF">關係:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;顧客&nbsp;<INPUT TYPE="checkbox" NAME="customer" value="1" <?=($row['customer'] ? "checked": "") ?>>&nbsp;&nbsp;供應商&nbsp;<INPUT TYPE="checkbox" NAME="supplier" value="1" <?=($row['supplier'] ? "checked":"") ?>></td>
                      </tr>
					  <tr> 
                        <td bgcolor="#C4E1FF">付款方式:</td>
                        <td colspan="2" bgcolor="#FFFFFF">&nbsp;&nbsp;<select name="payment">
                            <option>選擇付款方式</option>
							<option value="<?=$row['payment']?>" selected><?=$row['payment']?></option>
							<option value="月結">月結</option>
							<option value="現金">現金</option>
                          </select>
                        </td>
                      </tr>
                      <tr bgcolor="#FFFFFF" height="30"> 
                        <td colspan=3 >&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="Submit" value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" name="Submit2" value="Reset"></td>
                      </tr>
                    </table>
                  </form>
                   
</td>
              </tr>
            </table>
            <br>
          </td>
        </tr>
      </table>
      </td>
  </tr>
</table>
<?break;?>


<?case "detail":?>

<table width="762" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top"> 
    <td height="10" colspan="2"></td>
  </tr>
  <tr> 
    <td width="10"></td>
    <td width="780" align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="text">
        
      </table>
      <br> <table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="780" align="center" valign="top"><TABLE width="780" border=1 align="center" cellPadding=0 cellSpacing=0 
                        borderColorLight=#000000 borderColorDark=#ffffff class="text">

                <TR bgColor=#f9b837> 
                  <TD height=20 colSpan=9 bgcolor="#FFCC66"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="text">
                      <tr class="header1"> 
                        <td width="22"  align="right"><img src="images/menu/outbox.gif" width="19" height="17"></td>
                        <td width="2">&nbsp;</td>
                        <td width="139" height="20"> 客戶管理[<font color="#0000FF">查看客戶</font>]
                        </td>
<td width=423 align=right><a href=<?=$_SERVER['HTTP_REFERER'];?>>返回產品管理表</a></td> 
                      </tr>
                    </table></TD>
                </TR>
 
            </TABLE>
            <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0" >
              <tr>
                <td align="center"><br>
				                  <table width="100%" border="0" cellpadding="10" cellspacing="1" class="text" bgcolor="#9B9B9B">
                    <tr class="header2"> 
                      <td width="19%" bgcolor="#C4E1FF">公司名稱: </td>
                      <td colspan="4"><?=$row['name']?></td>
                    </tr>
                    <tr class="header2"> 
                      <td bgcolor="#C4E1FF">公司地址:</td>
                      <td colspan="4"><?=$row['address']?></td>
                    </tr>
                    <tr class="header2"> 
                      <td valign="top" bgcolor="#C4E1FF">聯絡人:</td>
                      <td width="21%"><?=$row['attn']?></td>
                      <td width="13%" bgcolor="#C4E1FF">公司縮寫:</td>
                      <td colspan="2"><?=$row['initial']?></td>
                    </tr>
                    <tr class="header2"> 
                      <td valign="top" bgcolor="#C4E1FF">Tel :</td>
                      <td><?=$row['tel']?></td>
                      <td bgcolor="#C4E1FF">Fax :</td>
                      <td colspan="2"><?=$row['fax']?></td>
                    </tr>
                    <tr class="header2"> 
                      <td valign="top" bgcolor="#C4E1FF">Email :</td>
                      <td><?=$row['email']?></td>
                      <td bgcolor="#C4E1FF">WebSite</td>
                      <td colspan="2"><?=$row['website']?></td>
                    </tr>
                    <tr class="header2"> 
                      <td valign="top" bgcolor="#C4E1FF">Payment Term:</td>
                      <td colspan="4"><?=$row['payment']?></td>
                    </tr>
                  </table>

</td>
              </tr>
            </table>
            <br>
          </td>
        </tr>
      </table>
      </td>
  </tr>
</table>
<?break;?>


<?default:?>

	<script>
		var availableTags = [
<?while($row=mysql_fetch_array($option,MYSQL_ASSOC)){?>
"<?=$row['name']?>",
<?}?>
""
		];
	</script>

<form action="./main.php?page=company" method="POST">
<table>
<tr><td>客戶名稱:<input name="name" type="textfield" id="name"></td><td>客戶聯絡人:<input name="attn" type="textfield"></td></tr>
<tr align="center"><td colspan=2><input type="submit" name="Search" value="Search"><input type="reset" name="Reset" value="Reset"></td></tr>
</table>
</form>

      <table width="595" border="0" cellspacing="0" cellpadding="0" class="text">
        <tr > 
          <td valign="top"><TABLE width="780" border=1 align="center" cellPadding=0 cellSpacing=0 
                        borderColorLight=#000000 borderColorDark=#ffffff class="text">
              
                <TR class="header"> 
                  <TD height=22 colSpan=15 bgcolor="#FFCC66"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr class="header"> 
                        <td width="20"  align="right"><img src="images/menu/outbox.gif" width="16" height="16"></td>
                        <td width="2">&nbsp;</td>
                        <td width="300" height="22"> 
                          客戶查看[<a href=./main.php?page=company&action=add><font color=#FFFFFF>添加客戶</font></a>]
                        </td>
                        <td width="400" align="right"><table width="100%" height="22" border="0" cellpadding="0" cellspacing="0">
                            <tr class="header"> 
                              <td width="68%" valign="top"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                                  <tr class="header"> 
                                    <td height="20" align="right" valign="bottom"> 
                                      共 <?=intval($total/30)+1?> 頁 <?=$total?> 條客戶 現在是第 <?=$num?> 頁                                     </td>
                                  </tr>
                                </table></td>
                              <td width="32%" height="25"> <table width="100%" border="0" cellspacing="0" cellpadding="0" class="text">
                                  <form name="jump" method="get" action="./main.php?page=customer" onSubmit="return check();">
                                    <tr class="header"> 
                                      <td>　跳到第<b><b> 
                                        <input type="text" name="num"
      style="BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; WIDTH: 25px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff" >
                                        </b> </b> 頁 
                                        <input style="BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; WIDTH: 20px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff"; type=submit value=GO name="Submit"></td>
                                      <input type=hidden name="page" value="company" > 
                                    </tr>
                                  </form>
                                </table></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></TD>
                </TR>
                <TR class="header1"> 
                  <TD width="35" height="22" align="center"> ID</TD>
                  <TD width="130" height="22" align="center">名稱</TD>
                  <TD width="145" height="22" align="center" bwidth="15%" gColor=#ffffff>電話</TD>
                  <TD width="145" height="22" align="center">傳真</TD>
                  <TD width="100" align="center">聯絡人</TD>
                  <TD width="28" align="center">編輯</TD>
                  <TD width="28" align="center">刪除</TD>
                </TR>

		<?while($row=mysql_fetch_array($db,MYSQL_ASSOC)){$i++?>
		<?if($i%2!=0){?><tr class="header1" align="center"><?}else{?><tr class="header2" align="center"><?}?>
		  <td><?=$row['id']?></td>
		  <td><a href="./main.php?page=company&action=detail&id=<?=$row['id']?>"><?=$row['name']?></a></td>
		  <td><a href="tel:<?=$row['tel']?>"><?=$row['tel']?></a></td>
		  <td>&nbsp;<?=$row['fax']?></td>
		  <td>&nbsp;<?=$row['attn']?></td>
		  <td><a href="./main.php?page=company&action=edit&id=<?=$row['id']?>">編輯</a></td>
		  <td><a href="./main.php?page=company&action=delete&id=<?=$row['id']?>">刪除</a></td>
		</tr>
		<?}?>
</table>

            <table width="95%" border="0" align="right" cellpadding="0" cellspacing="0" class="text">
              <tr class="text"> 
                <td width="97%" height="20" align="right" valign="bottom"> 
                  共 <?=intval($total/30)+1?> 頁 <?=$total?> 條客戶 現在是第 <?=$num?> 頁  　 <?=($num<=1?"":"<a href=\"./main.php?page=company&name=".$_GET['name']."&attn=".$_GET['attn']."&num=".($num-1)."\">上一頁</a>")?>  <?=($num+1>(intval($total/30)+1)?"":"<a href=\"./main.php?page=company&name=".$_GET['name']."&attn=".$_GET['attn']."&num=".($num+1)."\">下一頁</a>")?>                 </td>
                <td width="3%" align="right" valign="bottom">&nbsp;</td>
              </tr>
            </table>

<?break;
}?>