	<script>
		var availableTags = [
<?while($pb=@mysql_fetch_array($company,MYSQL_ASSOC)){?>
"<?=$pb['name']?>",
<?}?>
""
		];

	</script>

<?switch($_GET['action']){?>
<?case "add":?>

<TABLE width="780" border=0 align="center" cellPadding=0 cellSpacing=0  class="text">
<tr class="header1"> 
                        <td width="22" align="right"><img src="images/menu/outbox.gif" width="19" height="17"></td>
                        
                        <td width="139" height="20" > 收據記錄[<font color=#0000FF>新增收據記錄</font>]
                        </td>
<td width=423 align=right><a href=<?= $_SERVER['HTTP_REFERER']?>>返回客戶查看列表</a></td> 
                      </tr>
                    </table>
					</td></TR>
					</TABLE>
<br>


<form name="frm_c5acd3847d" id="frm_c5acd3847d" method="POST" enctype="multipart/form-data" action="main.php?page=e_rec&action=add">
     <table id="pg_975c4963ca" border="0" cellpadding="2" cellspacing="1" width="780" bgcolor="#757575"  style="display:;border: solid 1px #777777;">

      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">日期</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
		<input name="date" id="s_date" type="textfield">
          </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">供應商名稱</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
		<input name="supplier" type="textfield" id="name" onBlur=getInvoiceNo("e_rec",this.value,"invoice_id")>
          </td>
      </tr>

      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">Invoice ID</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             <select id="invoice_id" size=20 onclick=show(this.id,"invoice")>


		</select>
             <select name="invoice_id[]" id="invoice" size=20 multiple="multiple" onclick=show(this.id,"invoice_id")>


		</select>

          </td>
      </tr>
	  <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">總數</span> <font color='red'>*</color>
	</td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
		<input type="textfield" name="amount">
          </td>
	</tr>
	  <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">支票號碼</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             <TEXTAREA NAME="cheque_no" ROWS="3" COLS="2"></TEXTAREA>
          </td>
      </tr>

	  <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">備註</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             <TEXTAREA NAME="remark" ROWS="3" COLS="2"></TEXTAREA>
          </td>
      </tr>
      <tr>
          <!-- Buttons -->
          <td colspan="2" align="center" class="phpForms_main" bgcolor="#FFFFFF">
            <input type="submit" value="Submit" name="Submit" style="width:30%; background-color : #a2a2a2" class="phpForms_btn" onclick=selectall("invoice")>

          </td>
      </tr>

     </table>


<?break;?>
<?case "edit":?>
		<TABLE width="780" border=0 align="center" cellPadding=0 cellSpacing=0  class="text">
<tr class="header1"> 
                        <td width="22" align="right"><img src="images/menu/outbox.gif" width="19" height="17"></td>
                        
                        <td width="139" height="20" > 收據管理[<font color=#0000FF>編輯收據</font>]
                        </td>
<td width=423 align=right><a href=<?= $_SERVER['HTTP_REFERER']?>>返回收據查看列表</a></td> 
                      </tr>
                    </table>
					</td></TR>
					</TABLE>
<br>


<form name="frm_c5acd3847d" id="frm_c5acd3847d" method="POST" enctype="multipart/form-data" action="main.php?page=e_rec&action=edit&id=<?=$_GET['id']?>">
     <table id="pg_975c4963ca" border="0" cellpadding="2" cellspacing="1" width="780" bgcolor="#757575"  style="display:;border: solid 1px #777777;">
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">備註</span>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
		<textarea name="remark" ROWS="3" COLS="2"><?=$row[0]?></textarea>
          </td>
      </tr>
      <tr>
          <!-- Buttons -->
          <td colspan="2" align="center" class="phpForms_main" bgcolor="#FFFFFF">
            <input type="submit" value="Submit" name="Submit" style="width:30%; background-color : #a2a2a2" class="phpForms_btn">

          </td>
      </tr>

     </table>
</form>
<?break;?>
<?default:?>
                  <form name="add" action="./main.php?page=e_rec" method="get" >
                    <table width="820" border="0"  cellpadding="0" cellspacing="0" class="text">
                      <input name="page" value="e_rec" type="hidden">
                      <tr> 
                        <td >供應商名稱:</td>
                        <td >
							<input name="name" type="textfield" id="name">

						</td>
					
						<td width="30">單號:</td>
                        <td ><input type="text" name="id"  size="15"></td>
					</tr>
                      <tr> 
                        <td >發票號碼:</td>
                        <td >
							<input name="invoice_id" type="textfield">

						</td>
					

					</tr>

					  <tr>
						<td>開始日期:</td>
						<td><input type="text" name="s_date" size="15" id="s_date"></td>

						<td>結束日期:</td>
						<td><input type="text" name="e_date" size="15" id="e_date"></td>

						
                        
                      </tr>
					 
                      <tr align="center"> 
                       
                        <td colspan="4"><input type="submit" name="Search" value="Search"> <input type="reset" name="Reset" value="Reset"></td>
                      </tr>
                    </table>
                  </form>

				 <br>
<table border="0" bgColor="#808080" cellPadding="4" cellSpacing="1" width="960" class="text">

<tr class="header">
	<td width="70%" >
		| <a href="./main.php?page=e_rec&action=add"><font color="#FFFFFF">新增收據記錄</font></a>
	</td>
	<td width="30%">
		共 <?=intval($total/30)+1?> 頁 <?=$total?> 條記錄 現在是第 <?=$num?> 頁 	</td>
</tr>
</table>

<table border="0" bgColor="#808080" cellPadding="4" cellSpacing="1" width="1000"  id="myTable" class="tablesorter">
             <!-- Form list header -->
			 <thead> 
             <tr>
			   <th  width="10%" align="center">
                  <span >編號</span>
               </th>
               <th  width="10%" align="center">
                  <span >供應商</span>
               </th>
               <th  width="10%" align="center">
                  <span >日期</span>
               </th>
               <th  width="10%" align="center">
                  <span >發票號碼</span>
               </th>
               <th  width="10%" align="center">
                  <span >金額</span>
               </th>
               <th  width="10%" align="center">
                  <span >支票號碼</span>
               </th>
			   <th  width="15%" align="center">
                  <span >備註</span>
               </th>
               <th  width="*" align="center">
                  <span >操作</span>
               </th>
             </tr>
			 </thead> 
			 <tbody>
							<?while($row=mysql_fetch_array($db,MYSQL_NUM)){$sum+=$row[6];?>
<tr align="center"><td><?=$row[0]?></td><td><?=$row[1]?></td><td><?=$row[2]?></td><td><a href="./main.php?page=expe&action=detail&id=<?=$row[3]?>"><?=$row[3]?></a></td><td>$<?=$row[6]?></td><td><?=$row[4]?><td><?=$row[5]?></td><td><a href="./main.php?page=e_rec&action=edit&id=<?=$row[0]?>"><img src="./images/b_edit.gif"></a>|<a href="./main.php?page=e_rec&action=delete&id=<?=$row[0]?>"><img src="./images/b_del.gif"></a>|</td></tr>
							<?}?>


</tbody>

             <tr class="summary">
               <td  colspan=7 width="15%" align="right">
                  <span ><b>TOTAL : </b></span>
               </td>
               <td width="15%" align="right">
                  <span ><b><font size="5">$<?=$sum?></b></font></span>
               </td>
             </tr>
             <!-- /Form list -->
           </table>
	  <table width="780"> <tr align="right"><td><?=($num<=1?"":"<a href=\"./main.php?page=e_rec&name=".$_GET['name']."&id=".$_GET['id']."&type=".$_GET['type']."&from_company=".$_GET['from_company']."&paid=".$_GET['paid']."&s_date=".$_GET['s_date']."&e_date=".$_GET['e_date']."&Search=".$_GET['Search']."&num=".($num-1)."\">上一頁</a>")?>  <?=($num+1>(intval($total/30)+1)?"":"<a href=\"./main.php?page=e_rec&name=".$_GET['name']."&id=".$_GET['id']."&type=".$_GET['type']."&from_company=".$_GET['from_company']."&paid=".$_GET['paid']."&s_date=".$_GET['s_date']."&e_date=".$_GET['e_date']."&Search=".$_GET['Search']."&num=".($num+1)."\">下一頁</a>")?></td></tr></table>

<?break;
}?>