	<script>
		var availableTags = [
<?while($pb=@mysql_fetch_array($company,MYSQL_ASSOC)){?>
"<?=$pb['name']?>",
<?}?>
""
		];
		
		
function cLvl(objV)
{
	
	$.ajax({
		 type: "GET",
		 url:"./ajax/common.php?type=contentLevel&contentType=expe",
		 data:{id:objV},
		 dataType: "JSON",
		 success: function(data){
			 
			 	var combo = $("<select id=\""+'Scontent'+"\" name=\""+'content[]'+"\" />");
				combo.append("<option value=\"\"></option>");
				for(i=0;i<data.length;i++)
				{
					combo.append("<option value=\""+data[i][0]+"\">"+data[i][1]+"</option>");
				}
				$("#subContent").html(combo);
				
				$("#Scontent option[value='<?=$row[10]?>']").attr('selected',true);
			 }
		});
		return true;
}

	</script>

<?switch($_GET['action']){?>
<?case "add":?>

<TABLE width="780" border=0 align="center" cellPadding=0 cellSpacing=0  class="text">
<tr class="header1"> 
                        <td width="22" align="right"><img src="images/menu/outbox.gif" width="19" height="17"></td>
                        
                        <td width="139" height="20" > 發票管理[<font color=#0000FF>添加發票</font>]
                        </td>
<td width=423 align=right><a href=<?= $_SERVER['HTTP_REFERER']?>>返回客戶查看列表</a></td> 
                      </tr>
                    </table>
					</td></TR>
					</TABLE>
<br>


<form name="frm_c5acd3847d" id="frm_c5acd3847d" method="POST" enctype="multipart/form-data" action="main.php?page=expe&action=add">
     <table id="pg_975c4963ca" border="0" cellpadding="2" cellspacing="1" width="780" bgcolor="#757575"  style="display:;border: solid 1px #777777;">
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">invoice_id</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
		<input name="id" type="textfield" id="id">
          </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">日期</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
		<input name="date" id="s_date" type="textfield">
          </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">供應商</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
		<input name="supplier" type="textfield" id="name">
          </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">總數</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             <input type="text" name="amount"   id="fld_2dade69bdd" value="0" style="width:100%;">
          </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">開支類別</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             <select name="type" id="fld_f10b0c948e" style="width:100%;">
			 <option value="0">cash</option>
			<option value="1">invoice</option>

</select>

          </td>
      </tr>
	  
	  <tr>
		<td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
			<span style="">公司類別</span> <font color='red'>*</color>
		</td>
		<td width="70%" align="left" bgcolor="#FFFFFF" >
			<select name="from_company" id="fld_f10b0c948e" style="width:100%;" onchange=getNextInvoiceId(this.value,"expe")>
							<option></option>
							<?while($row=mysql_fetch_array($type,MYSQL_ASSOC)){?>
							<option value="<?=$row['id']?>"><?=$row['name']?></option>
							<?}?>

			</select>
		</td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">類別</span>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
          <select  name="content[]" id="content" onchange="cLvl(this.value)">
          <option value="" ></option>
			<?while($pb=mysql_fetch_array($content,MYSQL_ASSOC)){?>	
				<option value="<?=$pb['id']?>"><?=$pb['name']?></option>
			<?}?>					
			</select>
            <span id="subContent"></span>

          </td>
      </tr>
	  
	<tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">己付/未付</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             Paid <INPUT TYPE="RADIO" NAME="paid" VALUE="1">
Unpaid <INPUT TYPE="RADIO" NAME="paid" VALUE="0" checked>
          </td>
      </tr>
	  <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">備註</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             <TEXTAREA NAME="remark" ROWS="3" COLS="2"></TEXTAREA>
          </td>
      </tr>
      <tr>
          <!-- Buttons -->
          <td colspan="2" align="center" class="phpForms_main" bgcolor="#FFFFFF">
            <input type="submit" value="Submit" name="Submit" style="width:30%; background-color : #a2a2a2" class="phpForms_btn">

          </td>
      </tr>

     </table>


<?break;?>
<?case "detail":?>
     <table id="pg_975c4963ca" border="0" cellpadding="2" cellspacing="1" width="780" bgcolor="#757575"  style="display:;border: solid 1px #777777;">


      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">編號</span>
          </td>
	<td width="70%" align="left" bgcolor="#FFFFFF"><?=$row[0]?>
                       </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">日期</span> 
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF"><?=$row[2]?>
                       </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">供應商</span> 
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF"><?=$row[1]?>
			          </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">總數</span> 
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF"><?=$row[3]?>
                       </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">類別</span> 
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF"><?=($row[4])?"invoice":"cash" ?>
             		  </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">分類</span>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF"><?=$row[6]?>
             		  </td>
      </tr>
      
	<tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">己付/未付</span> 
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF"><?=($row[7]?"已付":"未付") ?>
            </td>
      </tr>
	  <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">備註</span> 
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF"><?=$row[5]?>
            </td>
      </tr>
      

     </table>
<?break;?>
<?case "edit":?>

<TABLE width="780" border=0 align="center" cellPadding=0 cellSpacing=0  class="text">
<tr class="header1"> 
                        <td width="22" align="right"><img src="images/menu/outbox.gif" width="19" height="17"></td>
                        
                        <td width="139" height="20" > 發票管理[<font color=#0000FF>編輯發票</font>]
                        </td>
<td width=423 align=right><a href=<?= $_SERVER['HTTP_REFERER']?>>返回客戶查看列表</a></td> 
                      </tr>
                    </table>
					</td></TR>
					</TABLE>
<br>


<form name="frm_c5acd3847d" id="frm_c5acd3847d" method="POST" enctype="multipart/form-data" action="main.php?page=expe&action=edit&id=<?=$_GET['id']?>">
     <table id="pg_975c4963ca" border="0" cellpadding="2" cellspacing="1" width="780" bgcolor="#757575"  style="display:;border: solid 1px #777777;">

      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">日期</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
		<input name="date"  type="textfield" value="<?=$row[2]?>">
          </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">供應商</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
		<input name="supplier" type="textfield" id="name" value="<?=$row[1]?>">
          </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">總數</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             <input type="text" name="amount"   id="fld_2dade69bdd"  value="<?=$row[3]?>" style="width:100%;">
          </td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">開支類別</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             <select name="type" id="fld_f10b0c948e" style="width:100%;">
			 <option value="0" <?=($row[4]?"":"selected")?>>cash</option>
			<option value="1" <?=($row[4]?"selected":"")?>>invoice</option>

</select>

          </td>
      </tr>
	  
	  <tr>
		<td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
			<span style="">公司類別</span> <font color='red'>*</color>
		</td>
		<td width="70%" align="left" bgcolor="#FFFFFF">
			<select name="from_company" id="fld_f10b0c948e" style="width:100%;">
							<?while($pb=mysql_fetch_array($type,MYSQL_ASSOC)){?>
							<option value="<?=$pb['id']?>" <?=($pb['id']==$row[9]?"selected":"")?> ><?=$pb['name']?></option>
							<?}?>

			</select>
		</td>
      </tr>
      <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">類別</span>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
                          <select  name="content[]" id="content" onchange="cLvl(this.value)">
			<?while($pb=mysql_fetch_array($content,MYSQL_ASSOC)){?>	
				<option value="<?=$pb['id']?>" <?=($row[6]==$pb['id']?"selected":"")?>><?=$pb['name']?></option>
			<?}?>			
			</select>

            <span id="subContent"></span>
            <script>
			cLvl(<?=$row[6]?>)
			</script>
          </td>
      </tr>
	  
	<tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">己付/未付</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             Paid <INPUT TYPE="RADIO" NAME="paid" VALUE="1" <?=($row[7]?"checked":"")?>>
Unpaid <INPUT TYPE="RADIO" NAME="paid" VALUE="0" <?=($row[7]?"":"checked")?>>
          </td>
      </tr>
	  <tr>
          <td width="30%" align="left" bgcolor="#C4E1FF" valign="top">
             <span style="">備註</span> <font color='red'>*</color>
          </td>
          <td width="70%" align="left" bgcolor="#FFFFFF">
             <TEXTAREA NAME="remark" ROWS="3" COLS="2"><?=$row[5]?></TEXTAREA>
          </td>
      </tr>
      <tr>
          <!-- Buttons -->
          <td colspan="2" align="center" class="phpForms_main" bgcolor="#FFFFFF">
            <input type="submit" value="Submit" name="Submit" style="width:30%; background-color : #a2a2a2" class="phpForms_btn">

          </td>
      </tr>

     </table>
<?break;?>
<?default:?>
                  <form name="add" action="./main.php?page=expe" method="get" >
                    <table width="780" border="0"  cellpadding="0" cellspacing="0" class="text">
                      <input name="page" value="expe" type="hidden">
                      <tr> 
                        <td width="60">供應商名稱:</td>
                        <td width="100">
							<input name="name" type="textfield" id="name">

						</td>
					
						<td width="30">單號:</td>
                        <td width="40"><input type="text" name="id"  size="15"></td>
					</tr>
					<tr>
						<td width="30">類型:</td>
						<td width="270"><select name="type" id="fld_f10b0c948e" style="width:70;">
														<option value='' >ALL</option>
							<option value="0">cash</option>
							<option value="1">invoice</option>
						</select>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司類別 : 
						<select name="from_company" id="fld_f10b0c948e" style="width:70;">
														<option value=''>ALL</option>
							<?while($row=mysql_fetch_array($type,MYSQL_ASSOC)){?>
							<option value="<?=$row['id']?>"><?=$row['name']?></option>
							<?}?>
						</select>
						</td>

						<td width="30">狀態:</td>
						<td width="70"><select name="paid" id="fld_f10b0c948e">
													<option value="" >ALL</option>
							<option value="1" >己付</option>
							<option value="0" >未付</option>
						</select></td>
					<td width="30">支出類別:</td>
						<td width="70"><select name="content[]" id="content" onchange="cLvl(this.value)">
													<option value="" >ALL</option>
						<?while($content_row = mysql_fetch_array($content,MYSQL_ASSOC)){?>
						<option value="<?=$content_row['id']?>"><?=$content_row['name']?></option>
						<?}?>
						</select>
                        <span id="subContent"></span>
                        </td>
                        
                      </tr>
					  <tr>
						<td width="30">開始日期:</td>
						<td width="70"><input type="text" name="s_date" size="15" id="s_date"></td>

						<td width="30">結束日期:</td>
						<td width="70"><input type="text" name="e_date" size="15" id="e_date"></td>

						
                        
                      </tr>
					 
                      <tr> 
                       
                        <td width="61"></td>
                        <td colspan="3"><input type="submit" name="Search" value="Search"> <input type="reset" name="Reset" value="Reset"></td>
                      </tr>
                    </table>
                  </form>

				 <br>
<table border="0" bgColor="#808080" cellPadding="4" cellSpacing="1" width="960" class="text">

<tr class="header">
	<td width="70%" >
		| <a href="./main.php?page=expe&action=add"><font color="#FFFFFF">新增開支</font></a>
	</td>
	<td width="30%">
		共 <?=intval($total/30)+1?> 頁 <?=$total?> 條客戶 現在是第 <?=$num?> 頁 	</td>
</tr>
</table>

<table border="0" cellPadding="4" cellSpacing="1" width="780"  id="myTable" class="tablesorter">
             <!-- Form list header -->
			 <thead> 
             <tr>
			   <th  width="10%" align="center">
                  <span >公司類別</span>
               </th>
               <th  width="10%" align="center">
                  <span >expe No.</span>
               </th>
               <th  width="25%" align="center">
                  <span >供應商名稱</span>
               </th>
               <th  width="10%" align="center">
                  <span >日期</span>
               </th>
               <th  width="10%" align="center">
                  <span >金額</span>
               </th>
			   <th  width="10%" align="center">
                  <span >支出類別</span>
               </th>
			   <th  width="10%" align="center">
                  <span >類別</span>
               </th>
			   <th  width="15%" align="center">
                  <span >備註</span>
               </th>
               <th  width="15%" align="center">
                  <span >操作</span>
               </th>
             </tr>
			 </thead> 
			 <tbody>
							<?while($row=mysql_fetch_array($db,MYSQL_NUM)){$sum+=$row[4];?>
<tr align="center"><td style="background-color:<?=($row[7]?"#FFFFFF":"#ACF9B1")?>"> <?=$row[0]?></td>
<td style="background-color:<?=($row[7]?"#FFFFFF":"#ACF9B1")?>"><?=$row[1]?></td>
<td style="background-color:<?=($row[7]?"#FFFFFF":"#ACF9B1")?>"><a href="./main.php?page=expe&action=detail&id=<?=$row[1]?>"><?=$row[2]?></a></td>
<td style="background-color:<?=($row[7]?"#FFFFFF":"#ACF9B1")?>"><?=$row[3]?></td><td style="background-color:<?=($row[7]?"#FFFFFF":"#ACF9B1")?>">$<?=$row[4]?></td>
<td style="background-color:<?=($row[7]?"#FFFFFF":"#ACF9B1")?>"><?=$row[8]?></td>
<td style="background-color:<?=($row[7]?"#FFFFFF":"#ACF9B1")?>"><img src="./images/<?=($row[5]?"invoice":"cash")?>.jpg"></td>
<td style="background-color:<?=($row[7]?"#FFFFFF":"#ACF9B1")?>"><?=$row[6]?></td>
<td style="background-color:<?=($row[7]?"#FFFFFF":"#ACF9B1")?>"><a href="./main.php?page=expe&action=edit&id=<?=$row[1]?>"><img src="./images/b_edit.gif"></a>|<a href="./main.php?page=expe&action=delete&id=<?=$row[1]?>"><img src="./images/b_del.gif"></a>|</td></tr>
							<?}?>


</tbody>

             <tr class="summary">
               <td  colspan=7 width="15%" align="right">
                  <span ><b>TOTAL : </b></span>
               </td>
               <td width="15%" align="right">
                  <span ><font size="5"><b>$<?=$sum?></b></font></span>
               </td>
             </tr>
             <!-- /Form list -->
           </table>
	  <table width="780"> <tr align="right"><td><?=($num<=1?"":"<a href=\"./main.php?page=expe&name=".$_GET['name']."&id=".$_GET['id']."&type=".$_GET['type']."&from_company=".$_GET['from_company']."&paid=".$_GET['paid']."&s_date=".$_GET['s_date']."&e_date=".$_GET['e_date']."&Search=".$_GET['Search']."&num=".($num-1)."\">上一頁</a>")?>  <?=($num+1>(intval($total/30)+1)?"":"<a href=\"./main.php?page=expe&name=".$_GET['name']."&id=".$_GET['id']."&type=".$_GET['type']."&from_company=".$_GET['from_company']."&paid=".$_GET['paid']."&s_date=".$_GET['s_date']."&e_date=".$_GET['e_date']."&Search=".$_GET['Search']."&num=".($num+1)."\">下一頁</a>")?></td></tr></table>

<?break;
}?>