	<script>
		var availableTags = [
<?while($pb=@mysql_fetch_array($company,MYSQL_ASSOC)){?>
"<?=$pb['name']?>",
<?}?>
""
		];

var min=8;
var max=30;
function increaseFontSize() {
 
   var p = document.getElementsByTagName('td');
   for(i=0;i<p.length;i++) {
 
      if(p[i].style.fontSize) {
         var s = parseInt(p[i].style.fontSize.replace("px",""));
      } else {
 
         var s = 12;
      }
      if(s!=max) {
 
         s += 1;
      }
      p[i].style.fontSize = s+"px"
 
   }
}
function decreaseFontSize() {
   var p = document.getElementsByTagName('td');
   for(i=0;i<p.length;i++) {
 
      if(p[i].style.fontSize) {
         var s = parseInt(p[i].style.fontSize.replace("px",""));
      } else {
 
         var s = 12;
      }
      if(s!=min) {
 
         s -= 1;
      }
      p[i].style.fontSize = s+"px"
 
   }
}

	</script>

<?switch($_GET['action']){?>
<?case "anniversary":?>
<script>
$(document).ready(function(){
    // For horizontal bar charts, x an y values must will be "flipped"
    // from their vertical bar counterpart.
  $(function() {
    $( "#tabs" ).tabs();
  });
  
    var plot2 = $.jqplot('all', [
        [
		<?while($row = mysql_fetch_array($all_res)){
			echo '['.$row[2].',\''.$row[0].'-'.$row[1].'\'],';
		$all_total += $row[2];
		}?>
		]], {
        seriesDefaults: {
            renderer:$.jqplot.BarRenderer,
            // Show point labels to the right ('e'ast) of each bar.
            // edgeTolerance of -15 allows labels flow outside the grid
            // up to 15 pixels.  If they flow out more than that, they 
            // will be hidden.
            pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
            // Rotate the bar shadow as if bar is lit from top right.
            shadowAngle: 135,
            // Here's where we tell the chart it is oriented horizontally.
            rendererOptions: {
                barDirection: 'horizontal'
            }
        },
        axes: {
            yaxis: {
                renderer: $.jqplot.CategoryAxisRenderer
            }
        }
    });
	    var plot3 = $.jqplot('paid', [
        [
		<?while($row = mysql_fetch_array($paid_res)){
			echo '['.$row[2].',\''.$row[0].'-'.$row[1].'\'],';
		$paid_total += $row[2];
		}?>
		]], {
        seriesDefaults: {
            renderer:$.jqplot.BarRenderer,
            // Show point labels to the right ('e'ast) of each bar.
            // edgeTolerance of -15 allows labels flow outside the grid
            // up to 15 pixels.  If they flow out more than that, they 
            // will be hidden.
            pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
            // Rotate the bar shadow as if bar is lit from top right.
            shadowAngle: 135,
            // Here's where we tell the chart it is oriented horizontally.
            rendererOptions: {
                barDirection: 'horizontal'
            }
        },
        axes: {
            yaxis: {
                renderer: $.jqplot.CategoryAxisRenderer
            }
        }
    });
		    var plot4 = $.jqplot('unpaid', [
        [
		<?while($row = mysql_fetch_array($unpaid_res)){
			echo '['.$row[2].',\''.$row[0].'-'.$row[1].'\'],';
		$unpaid_total += $row[2];
		}?>
		]], {
        seriesDefaults: {
            renderer:$.jqplot.BarRenderer,
            // Show point labels to the right ('e'ast) of each bar.
            // edgeTolerance of -15 allows labels flow outside the grid
            // up to 15 pixels.  If they flow out more than that, they 
            // will be hidden.
            pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
            // Rotate the bar shadow as if bar is lit from top right.
            shadowAngle: 135,
            // Here's where we tell the chart it is oriented horizontally.
            rendererOptions: {
                barDirection: 'horizontal'
            }
        },
        axes: {
            yaxis: {
                renderer: $.jqplot.CategoryAxisRenderer
            }
        }
    });
	    $('#tabs').bind('tabsshow', function(event, ui) {
      if (ui.index === 1 && plot2._drawCount === 0) {
        plot2.replot();
      }
      else if (ui.index === 2 && plot3._drawCount === 0) {
        plot3.replot();
      }
    });
	
});
</script>

<div id="tabs" style="width:80%; height:90%">
  <ul>
    <li><a href="#all">全部</a></li>
    <li><a href="#unpaid">未付</a></li>
    <li><a href="#paid">已付</a></li>
  </ul>
  <div id="all" style="height:90%">
<div style=" position: absolute; bottom: 3%; left: 0;">Total:<?=$all_total?></div>
  </div>
  <div id="unpaid" style="height:90%">
<div style=" position: absolute; bottom: 3%; left: 0;">Total:<?=$unpaid_total?></div>
  </div>
  <div id="paid" style="height:90%">
<div style=" position: absolute; bottom: 3%; left: 0;">Total:<?=$paid_total?></div>
  </div>
</div>

<?break;?>

<?case "summary":?>

<table border="0" bgColor="#808080" cellPadding="4" cellSpacing="1" id="myTable" class="tablesorter">
<thead>
<tr class="header1" align="center"><th>No.</th><th>Company</th><?=$html_title?><th>Amount</th></tr>
</thead>
<?=$html_summary?>
</table>
<?break;?>



<?case "statement":?>

<table width=960>
<tr><td width=100><label for="color1">Color Picker:</label></td>
<td><input id="color1" name="color1" type="text" value="#ffcc00" /></td>
<td><input type="button" value="備忘" onclick="memo()"></td>
<td><input type="button" value="放大" onclick="increaseFontSize()"></td>
<td><input type="button" value="縮小" onclick="decreaseFontSize()"></td>
</tr>
<tr><td><input type="button" value="列印" onclick=printS(document.getElementById('statement'))></td></tr>
</table>

<div class="statement" id="statement">
<style type="text/css" media="print,screen">
.statment tr td,.statment tr th{
border:1px solid #000000
}
</style>
<img src="./images/letterhead2.jpg"><br>
<center><h2>Statement</h2>
<div id="statment">
<table width="960" border=0>
<tr> <td width=90>TO : </td><td width=500><?=$company_info['name']?></td><td rowspan=5> <textarea id="memo" style="background-color:#ffcc00;display:none"></textarea></td></tr>
<tr> <td>ATTN :</td><td><?=$company_info['attn']?></td></tr>
<tr> <td>TEL:</td><td><?=$company_info['tel']?></td></tr>
<tr> <td>FAX:</td><td><?=$company_info['fax']?></td></tr>
<tr><td colspan=2>請將支票註明付"廸高設計" ,Make cheque(s) payable to "DECO DESIGN"</td></tr>
</table><br>
<table border=0 width="960" class="statment" id="statement_table" cellspacing="0">
<thead>

<tr><th>日期</th><th>發票號碼</th><th>報價單編號</th><th>款項</th><th>每月未付總額</th></tr>

</thead>
<tbody>

<?=$statment?>

</tbody>

</table>
</div>
</center>
</div>
<?break;?>
<?default:?>
                  <form name="add" action="./main.php?page=receivable" method="get" >
                    <table width="820" border="0"  cellpadding="0" cellspacing="0" class="text">
                      <input name="page" value="receivable" type="hidden">
                      <tr> 
                        <td width="60">客戶名稱:</td>
                        <td width="100">
							<input name="name" type="textfield" id="name">

						</td>
					
						<td width="30">單號:</td>
                        <td width="40"><input type="text" name="id"  size="15"></td>
					</tr>
					<tr>
						<td width="30">類型:</td>
						<td width="270"><select name="type" id="fld_f10b0c948e" style="width:70;">
														<option value='' >ALL</option>
							<option value="0">cash</option>
							<option value="1">invoice</option>
						</select>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司類別 : 
						<select name="from_company" id="fld_f10b0c948e" style="width:70;">
														<option value=''>ALL</option>
							<?while($row=mysql_fetch_array($type,MYSQL_ASSOC)){?>
							<option value="<?=$row['id']?>"><?=$row['name']?></option>
							<?}?>
						</select>
						</td>

						<td width="30">狀態:</td>
						<td width="70"><select name="paid" id="fld_f10b0c948e" style="width:100%;">
													<option value="" >ALL</option>
							<option value="1" >己付</option>
							<option value="0" >未付</option>
						</select></td>
                        
                      </tr>
					  <tr>
						<td width="30">開始日期:</td>
						<td width="70"><input type="text" name="s_date" size="15" id="s_date"></td>

						<td width="30">結束日期:</td>
						<td width="70"><input type="text" name="e_date" size="15" id="e_date"></td>

						
                        
                      </tr>
					 
                      <tr> 
                       
                        <td width="61"></td>
                        <td colspan="3"><input type="submit" name="Search" value="Search"> <input type="reset" name="Reset" value="Reset"></td>
			<td><b><a href="./main.php?page=receivable&action=summary">月結報表</a></b></td>
            <td><b><a href="./main.php?page=receivable&action=anniversary">年報表</a></b></td>
                      </tr>
                    </table>
                  </form>

				 <br>
<table border="0" bgColor="#808080" cellPadding="4" cellSpacing="1" width="960" class="text">

<tr class="header">
	<td width="70%" >
	
	</td>
	<td width="30%">
		共 <?=intval($total/30)+1?> 頁 <?=$total?> 條資料 現在是第 <?=$num?> 頁 	</td>
</tr>
</table>

<table border="0" bgColor="#808080" cellPadding="4" cellSpacing="1" width="1000"  id="myTable" class="tablesorter">
             <!-- Form list header -->
			 <thead> 
             <tr>
			   <th  width="10%" align="center">
                  <span >No.</span>
               </th>
               <th  width="25%" align="center">
                  <span >Company</span>
               </th>
               <th  width="25%" align="center">
                  <span >Statement</span>
               </th>
               <th  width="10%" align="center">
                  <span >Amount</span>
               </th>
             </tr>
			 </thead> 
			 <tbody>

<?=$list?>


</tbody>

             <tr class="summary">
               <td  colspan=3 width="15%" align="right">
                  <span ><b>TOTAL : </b></span>
               </td>
               <td width="15%" align="right">
                  <span ><font size="5"><b>$<?=$sum?></b></font></span>
               </td>
             </tr>
             <!-- /Form list -->
           </table>

<?break;
}?>